{% extends 'base.html' %}

{% block title %}Página no encontrada{% endblock %}

{% block content %}

    <h2>Error 404</h2>
    <p>La página solicitada no existe.</p>
    <a href="{{ url_for('index') }}">Volver al inicio</a>

{% endblock %}

#Comprobación 7: explica por qué debe devolverse el código 404 junto con la plantilla.
#Para comprobar o saber si ah ocurrido un error 404, es necesario devolver el código de estado 
#HTTP 404 junto con la plantilla, ya que esto indica al navegador y a los motores de búsqueda 
#que la página no se encontró, y se pueda corregir.
